body{
    width: 100%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

/* Header ---------------------------------------------------------------------------------- */ 

#tete{
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    width: 95%;
    margin: auto;
}

header{
    display: flex;
    flex-direction: column;
}

#imglogo{
    width: 15%;
}

header h1{
    font-size: 25px;
    font-weight: bold;
    margin-top: 5%;
}

header p{
    font-size: 16px;
    margin-top: -1%;
    font-weight: 500;
}

nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
    margin-left: 65px;
    font-size: 15px;
    position: relative;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 0 15px;
}

nav a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 34px;
    transition: all ease-in-out 300ms;
}

.bleu{
    color: #0065FC;
}
.inscription{
    font-weight: bold;
}

/* Recherche ---------------------------------------------------------------------------------- */ 

#recherche{
    display: flex;
    width: 95%;
    margin: auto;
}

#recherche a i{
    text-decoration: none;
}

#recherche form{
    display: flex;
}

#gps{
    border: 20px solid #F2F2F2;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    background-color: #F2F2F2;
    color: black;
}

input[type=text]{
    height: 92%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: 2px solid #F2F2F2;
    outline: none;
}

input[type=submit]{
    display: inline-block;
    color: white;
    background: #0065FC;
    padding: 0px 25px;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: -2%;
    font-family: 'Raleway', sans-serif;
    font-weight: 550;
    font-size: 18px;
}

/* Filtre ---------------------------------------------------------------------------------- */ 

#filtres{
    display: flex;
    padding-top: 1%;
    width: 95%;
    margin: auto;
}

#filtres > div{
    display: flex;
}

#filtres h1{
    font-size: 17px;
}

#filtres i{
    margin-left: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #DEEBFF;
    color:  #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: -2.3%;
}

#filtres button{
    display: inline-block;
    padding: 6px 20px 6px 45px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 16px;
    background: white;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
}

#filtres button:hover{
    color:#0065FC;
    padding-top: 2px;
}

/* Info ---------------------------------------------------------------------------------- */ 

#info{
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 95%;
    margin: auto;
}

#icoinfo{
    color: #0065FC;
    padding: 3px 8px;
    border: 1px solid #F2F2F2;
    background: White;
    border-radius: 50px;
}

#info p{
    margin-left: 5px;
    font-weight: 500;
    font-size: 14px;
}

/* Bloc Hébergement ---------------------------------------------------------------------------------- */ 

#hebergement{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

#hebergement article{
    width: 60%;
    height: 50%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

#hebergement aside{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 500%;
    background-color: #F2F2F2;
    border-radius: 20px
}

.bloc_heber{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.bloc_heber > div {
    width: 100%;
    height: 50%;
    margin: 2%;
}
.bloc_heber img{
    width: 80%;
    height: 120px;
    border-radius: 20px;
    position: relative;
    border-left: 6px solid white;
    border-top: 6px solid white;
    border-right: 6px solid white;
}

.bloc{
    display: block;
    background: white;
    width: 84%;
    margin-top: -13%;
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bloc a{
    text-decoration: none;
    color: black;
}

.bloc h1{
    font-size: 17px;
    padding-top: 3%;
    padding-left: 6%;
}

.bloc p{
    font-size: 14px;
    padding-left: 6%;
    margin-top: -4%;
}

.etoile{
    display: flex;
    align-items: baseline;
    padding-left: 6%;
    margin-top: -4%;
    padding-bottom: 3%;
}

i{
    color: #0065FC;
}

.etoilevide{
    color: #D9D9D9;
}   

.bloc_heber button{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
   
}

/* Bloc aside ---------------------------------------------------------------------------------- */ 

#hebergement aside{
    width: 35%;
}

#bloc_aside{
    display: flex;
    flex-direction: column;

}

#bloc_aside > i{
    position: fixed;
    top: 40%;
    right: 90px;
}

.bloca a{
    text-decoration: none;
    color: black;
}

/* Footer ---------------------------------------------------------------------------------- */ 

footer{
    background: #F2F2F2;
}

#footer1{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#footer1 div{
    width: 33%;
}

footer h1{
    font-size: 18px;
}

footer p{
    font-size: 15px;
    font-weight: 500;
}