body{
    width: 95%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

#tete{
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
}

header{
    display: flex;
    flex-direction: column;
}

#imglogo{
    width: 20%;
}

header h1{
    font-size: 16px;
    font-weight: bold;
    margin-top: 7%;
}

header p{
    font-size: 13px;
    margin-top: -1%;
}

nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
    margin-left: 65px;
    font-size: 15px;
    position: relative;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 34px;
    transition: all ease-in-out 300ms;
}

.bleu{
    color: #0065FC;
}
.inscription{
    font-weight: bold;
}

#recherche{
    display: flex;
}

#recherche a i{
    text-decoration: none;
}

#recherche form{
    display: flex;
}

#gps{
    border: 20px solid #F2F2F2;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    background-color: #F2F2F2;
    color: black;
}

input[type=text]{
    height: 92%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: 2px solid #F2F2F2;
    outline: none;
}

input[type=submit]{
    display: inline-block;
    color: white;
    background: #0065FC;
    padding: 0px 25px;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: -2%;
    font-family: 'Raleway', sans-serif;
    font-weight: 550;
    font-size: 18px;
}

#filtres{
    display: flex;
    padding-top: 1%;
}

#filtres h1{
    font-size: 17px;
}

#filtres i{
    margin-left: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #DEEBFF;
    color:  #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: -2.3%;
}

#filtres button{
    padding: 6px 20px 6px 45px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 16px;
    background: white;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
}

#filtres button:hover{
    color:#0065FC;
    padding-top: 2px;
}
#info{
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

#icoinfo{
    color: #0065FC;
    padding: 10px 15px;
    border: 1px solid #F2F2F2;
    background: White;
    border-radius: 50px;
}

#info p{
    margin-left: 10px;
    font-weight: normal;
    font-size: 14px;
}

#hebergement{
    display: flex;
    justify-content: space-between;
}

#hebergement article{
    width: 60%;
    height: 50%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

#hebergement aside{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 500%;
    background-color: #F2F2F2;
    border-radius: 20px
}

.bloc_heber{
    width: 90%;
    min-height: 230px;
    display: flex;
    justify-content: space-around;
}

.bloc_heber div{
    width: 25%;
    height: 180px;
    margin: 15px;
    background: white;
    border-radius: 20px;
}

.bloc_heber img{
    width: 200px;
    height: 150px;
    position: absolute;
    border-radius: 20px;
    margin-top: 7px;
    margin-left: 7px;
}

.bloc_heber a{
    text-decoration: none;
    color: black;
}

.bloc_heber h1{
    font-size: 16px;
    background: white;
    position: relative;
    top: 75px;
}

.bloc_heber p{
    font-size: 14px;
    background: white;
    position: relative;
    top: 65px;
}
.bloc_heber i{
    position: relative;
    top: 50px;
    color: #0065FC;
}

.bloc{
    border-radius: 20px;
}

.bloc_heber button{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    position: absolute;
}

#bloc_aside{
    display: flex;
    flex-direction: column;
}

#bloc_aside > i{
    position: fixed;
    top: 40%;
    right: 90px;
}

.bloca a{
    text-decoration: none;
    color: black;
}